*, *::after, *::before{
	box-sizing: border-box;
}

.nav{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content:space-around;
	align-items: center;
}

.nav-tab {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-around;
	margin-left: 2rem;
}

.nav-icon {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.browse-container {
	flex-direction: row;
	/* stack on top of each other */

	justify-content:space-around;
    /*if there's extra space around element, how should we use it? */
    display: flex;
}

.browse-container-filter{
	margin-right: 2rem;
	flex: 1 1 30%;
}

.container-product{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 1 1 100%;
}

.section-title{
	flex: 1 1 auto;
}

.product{
	display: flex;
}

.product-item{
	flex: 1 1 20%;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 0.5rem;
}

.product-item-detail{
	margin-top: 0;
	margin-bottom: 2rem;
	margin-right: 0.5rem;
}

.product-item-btn{
	flex-direction: row;
	margin-right: 0.5rem;
	display: flex;
}

.review-container{
	display: flex;
	flex-direction: row;
}

.review-container-item{
	margin: 0.5rem;
}

.layout{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.layout-product-item{
	margin-right: 0.5rem;
	max-width: 30rem;
	margin-bottom: 2rem;
	flex: 1 1 auto;
}

.layout-left-img, .layout-right-text{
	flex: 1 1 auto;
	margin-right: 0.5rem;
	margin-bottom: 2rem;
}

.cart-layout{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cart-item{
	max-width: 25rem;
	flex: 1 1 auto;
}

.layout-product-item{
	margin-right: 0.5rem;
	max-width: 40rem;
	margin-bottom: 2rem;
	flex: 1 1 auto;
	flex-direction:column;
}

@media (max-width: 50em){
	.review-container, .layout, .cart-layout {
		flex-direction: column;
	}
}

@media (max-width: 100em){
	.product{
		flex-wrap: wrap;
	}
}


