*, *::after, *::before{
	box-sizing: border-box;
}

.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items: center;
}

.nav-content{
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-tab {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.nav-icon {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.browse-container {
	flex-direction: row;
	/* stack on top of each other */

	justify-content:space-around;
    /*if there's extra space around element, how should we use it? */
    display: flex;
}

.browse-container-filter{
	margin-right: 2rem;
	flex: 1 2 30%;
}

.clsp-container-box{
	display: flex;
	flex-direction: column;
}

.container-product{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 2 1 100%;
}

.section-title{
	flex: 1 1 auto;
}

.product{
	display: flex;
	justify-content: space-between;
}

.product-item{
	flex: 1 1 20%;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0.3rem 1.5rem 0.3rem;
}

.product-item-large{
	flex: 1 1 45%;
	margin-right: 0.6rem;
	margin-bottom: 1.5rem;
	flex-direction: column;
}

.product-item-detail{
	margin-top: 0;
	margin-bottom: 2rem;
	margin-right: 0.5rem;
}

.product-item-box{
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}

.product-item-element{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.product-item-element-btn{
	flex: 1 1 auto;
}

.review-container{
	display: flex;
	flex-direction: row;
}

.review-item{
	flex: 1 1 50%;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.review-box{
	/*margin-bottom: 0.8rem;*/
}

.layout{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.layout-product-item{
	margin-right: 0.5rem;
	max-width: 30rem;
	margin-bottom: 2rem;
	flex: 1 1 auto;
}

.layout-left-img, .layout-right-text{
	flex: 1 1 auto;
	margin-right: 0.5rem;
	margin-bottom: 2rem;
}

.quantity-cart-box{
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}

.quantity-cart-box-item{
	flex: 1 1 50%;
}

.cart-layout{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cart-item{
	max-width: 30rem;
	flex: 1 1 100%;
	padding: 1rem;
	margin: 1rem;
}

.two-col{
	display: flex;
	flex-direction: row;
}

.two-col-item{
	flex:1 1 50%;
	display: flex;
}

.two-col-review-item{
	flex:1 1 50%;
	margin-right: 1rem;
}

.description-list-box{
	display: flex;
	flex-direction: row;
}

.description-list-item{
	flex:1 1 50%;
}

.subtotal-box{
	display: flex;
	flex-direction: column;
}

.subtotal-box-item{
	display: flex;
	align-items: baseline;
}

.subtotal-box-item-text{
	margin-right: 1rem;
	flex:1 1 100%;
}

.four-col-title{
	display: flex;
	flex-direction: row;
}


.four-col-title-review{
	display: flex;
	flex-direction: row;
	flex: 1 1 100%;
	align-content: top;
}

.four-col-title-item{
	flex: 1 1 20%;
	margin-right: 1rem;
}

.four-col-title-item-large{
	flex: 1 1 50%;
	margin-right: 1rem;
}


.four-col, .five-col{
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	align-items: center;
	justify-content: space-between;
}

.four-col-final{
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	align-items: center;
	justify-content: space-between;
}


.four-col-item-large{
	display: flex;
	flex-direction: row;
	flex: 1 1 50%;
	align-items: center;
}

.four-col-item-large-item{
	flex: 1 1 auto;
	margin-right: 1rem;
}

.four-col-item-sub{
	display: 1 1 auto;
	left: 0%;
	right: 50%;
	align-items: center;
}

.four-col-item{
	flex: 1 1 25%;
	margin-right: 1rem;
}

.four-col-item-c{
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	align-items: top-left;
}

.sign-up-container{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.four-col-sign-up{
	display: flex;
	flex-direction: row;
	margin: 1rem;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

}

/*.sign-up-item{
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 1rem;
}*/

.sign-up-item-narrow{
	/*flex: 1 1 10%;*/
	margin: 1rem;
	/*align-items: center;*/
}

.four-col-item-review{
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	align-items: top;	
	text-align: left;
	padding: 0.5rem;
}

.col-divider{
	flex:1 1 auto;
	flex-direction: column;
}

.five-col{
	display: flex;
}

.five-col-item{
	flex: 1 1 20%;
	margin-right: 0.5rem;
}

.layout-product-item{
	margin-right: 0.5rem;
	max-width: 40rem;
	margin-bottom: 2rem;
	flex: 1 1 auto;
	flex-direction:column;
}

.back-button-layout{
	flex: 1 1 auto;
	flex-direction: row;
}

.product-page-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product-page-text{
	flex: 1 1 50%;
}

.carousel-product{
	flex: 1 1 50%;
}

.progress-bar{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-flow:row-wrap;
	/*justify-content: space-between;*/
}

.progress-bar-item{
	/*flex: 1 1 auto;*/
}

.progress-state{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.progress-box{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-flow: row-wrap;
}

.hero-container{
	display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn{
	display: flex;
	justify-content: space-between;
}

.hero-btn-item{
	flex: 1 1 50%;
}

.blog-container{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 3rem;
}

.blog-item{
	flex: 1 1 33%;
	text-align: center;
	margin: 1rem;
}

.section-title{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

/*---------- START of CONTACT PAGE ----------*/
.contact-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact-container-item{
	flex: 1 1 auto;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
/*---------- START of CONTACT PAGE ----------*/

/*---------- START of ABOUT PAGE ----------*/
.about-container{
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	justify-content: space-between;
}

.about-container-item{
	flex: 1 1 auto;
	margin-right: 1rem;
}
/*---------- END of ABOUT PAGE ----------*/

/*---------- START of EVENTS PAGE ----------*/
.events-form-container{
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	margin-bottom: 1rem;
	justify-content: space-between;
}

.events-form-left{
	flex:1 1 auto;
	margin-right: 2rem;
}

.events-form-right{
	flex:1 1 auto;
	margin-right: 2rem;
}
/*---------- END of EVENTS PAGE ----------*/

/*---------- FOOTER ----------*/
.footer-container{
	margin: 5% 10% 2% 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-item{
	flex: 1 1 25%;
	margin-right: 0.5rem;
}

.subscribe{
	display: flex;
	flex-direction: row;
	margin-top: 1rem;	
	margin-bottom: 1rem;	
}

.subscribe-item{
	flex: 1 1 auto;

}

/*---------- DIY PAGE ----------*/
.diy-title{
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.diy-step1{
	display: flex;
	flex-direction: column;
}

.diy-step2{
	display: flex;
	flex-direction: column;
}

.diy-four-col{
	display: flex;
	flex-direction: row;
	margin-top: 0;
	align-items: center;
	justify-content: space-between;
}

.flower-selection{
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	justify-content: space-between;
}

.flower-item{
	display: flex;
	align-items: center;
	flex: 1 1 10%;
	flex-direction: column;
	margin: 0.5rem;
}

/*---------- BROWSER WIDTH ----------*/

@media (max-width: 40em){
	.nav, .blog-container{
		flex-direction: column;
	}

	.nav-content{
		justify-content: space-between;
	}
}

@media (max-width: 50em){
	.layout, .cart-layout, .product-page-container, .contact-container, .events-form-container, .four-col-item-large, .browse-container, .progress-box, .subscribe, .diy-title-item, .four-col-item-c{
		flex-direction: column;
	}

	.contact-container, .about-container, .review-container{
		flex-wrap: wrap;
	}

	.clsp-container-box{
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (max-width: 70em){
	.footer-container, .five-col{
		flex-wrap: wrap;
	}

	.two-col,.sign-up-container {
		flex-direction: column;
	}
}


@media (max-width: 100em){
	.product {
		flex-wrap: wrap;
	}
}



